@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.active-link {
  color: #004e95 !important;
  font-weight: 500 !important;
}
.link-text {
  font-weight: 500 !important;
}
.v-list {
  overflow: initial !important;
}
.tabletnav,
.main-tablet {
  display: none !important;
}
.tabletnav .v-toolbar,
.main-tablet .v-toolbar {
  top: 0 !important;
}
.v-navigation-drawer__scrim {
  background: transparent !important;
}
.v-navigation-drawer {
  top: 0 !important;
  height: 100vh !important;
  border: none !important;
  background: #fff !important;
}
.v-navigation-drawer--temporary.v-navigation-drawer--active {
  box-shadow: none !important;
  position: fixed !important;
}
.v-main {
  padding-top: 40px !important;
}
.active-button {
  color: white;
  background-color: darkblue;
}
.v-list-item__overlay {
  position: initial !important;
}
.home-page {
  background: url(/assests/home.png);
  margin-top: -40px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.homedashboard-page{
  background: url(/assests/dashboard-frame.png);
  height: 100vh;
  background-size: cover;
  margin-top: -40px;
  position: relative;
  background-repeat: no-repeat;
}
.home-page::before,
.homedashboard-page::before{
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}
.home-center {
  z-index: 999;
  position: relative;
  max-width: 800px;
  padding-top: 150px;
  margin: 0 auto;
}
.dashboard-center{
  padding-top: 130px;
  position: relative;
  z-index: 999;
  max-width: 1000px;
  margin: 0 auto;
}
.home-side {
  z-index: 999;
  bottom: 20px;
  left: 20px;
}
.custom .v-input__details {
  display: none !important;
}
.input-shadow {
  background: rgb(255, 255, 255, 0.5);
  margin-top: -3px;
}
.custom .v-field--appended {
  padding-inline-end: 0 !important;
}
.custom.v-input--density-default {
  --v-input-padding-top: 0 !important;
}
.happy-client {
  top: -30px;
  border-radius: 10px;
  border: none;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1),
    0px 4px 5px rgba(0, 0, 0, 0.1);
  border-top: 7px solid rgba(0, 78, 149, 0.9);
}
.featured .special-h2,
.listings .special-h2,
.why-choose-us-main .special-h2,
.testimonial .special-h2,
.question .special-h2,
.contactus .special-h2 {
  position: relative;
}
.featured .special-h2::after,
.listings .special-h2::after,
.why-choose-us-main .special-h2::after,
.testimonial .special-h2::after,
.question .special-h2::after,
.contactus .special-h2::after {
  content: "";
  position: absolute;
  background: #004e95;
  height: 3px;
  border-radius: 5px;
  width: 75px;
  left: 0;
  bottom: 0;
}
.v-row {
  margin: 0 !important;
}
.featured-img,
.listings-img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.feature-solute,
.listings-solute {
  top: 20px;
}
.feature-solute .d-flex,
.listings-solute .d-flex {
  justify-content: space-between;
  position: relative;
}
.featured-row .featured:nth-child(3) .target.px-5 {
  padding-right: 0 !important;
}
.featured-row .featured:nth-child(3) .feature-solute {
  top: 0;
}
.featured-row .featured:nth-child(3) .angle-second {
  position: absolute;
  left: 60px !important;
  top: 10px !important;
  width: 25px !important;
}
.listing-des {
  top: -70px;
}
.outlined.text-blue-darken-4 {
  color: #000 !important;
}
.outlined.v-btn--variant-outlined {
  border: thin solid #004e95;
}
.outlined.v-btn,
.outline.v-btn {
  border-radius: 8px;
}
.why-top {
  top: -2px !important;
  right: 20px !important;
}
.why-choose-us-main .special-h2::after {
  width: 55px;
}
.v-carousel{
  height: auto !important;
}
.expand-border{
  border: 2px solid #004e95;
}
.map-absolute{
  bottom: -50px !important;
  left: 20px;
  z-index: 999;
}
@media (max-width: 900px) {
  .laptopnav,
  .main-laptop {
    display: none !important;
  }
  .tabletnav,
  .main-tablet {
    display: block !important;
  }
  .ham {
    color: #004e95 !important;
  }
  .home-center {
    padding-top: 350px;
  }
}
@media (max-width: 375px) {
  .home-center {
    padding-top: 80px;
  }
}
@media (max-width: 490px) {
  .home-center {
    padding-top: 195px;
  }
  .landing {
    font-size: 40px !important;
    font-weight: 500;
  }
  .landing.mb-8 {
    margin-bottom: 10px !important;
  }
  .home-center .first-span {
    font-size: 14px;
  }
  .input-home.mt-6 {
    margin-top: 30px !important;
  }
  .mt-16.pt-10.about-btn {
    margin-top: 5px !important;
    padding-top: 5px !important;
  }
  .whyus-section.mt-16 {
    margin-top: 10px !important;
  }
  .why-choose-us-main.mt-16,
  .why-choose-us-main.pt-16 {
    margin-top: 8px !important;
    padding-top: 8px !important;
  }
  .span-text.mt-8 {
    margin-top: 0 !important;
  }
  .why-choose-us-main .mb-3.special-h2 {
    margin-bottom: 0 !important;
  }
  .center-btn.ga-16 {
    gap: 10px !important;
  }
  .first-col.mt-10 {
    margin-top: 5px !important;
  }
  .map-item{
    width: 350px !important;
    height: 200px !important;
  }
  .map-absolute{
    bottom: -45px !important;
  }
}
@media (max-width: 320px) {
  .home-center {
    padding-top: 90px;
  }
  .landing {
    font-size: 35px !important;
  }
}
@media (max-width: 690px) {
  .happy-client {
    margin: 10px 10px !important;
  }
}
@media (max-width: 960px) {
  .info{
    text-align: center;
  }
  .contactus .v-card{
    width: 100% !important;
    text-align: center !important;
  }
}
@media (max-width: 600px){
  .expansion{
    font-size: 13px !important;
  }
  .small-footer{
    text-align: center !important;
  }
}